Set up imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [3]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail(15)

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
91,rs81921,s14wu,King of Swords,Wild Unknown,Air,fam,2021-08-19 00:00:00
92,sc81823,7gt,Chariot,Gentle Tarot,Water,self,08/18/2023
93,bd11819,p3wu,3 of Pentacles,Wild Unknown,Earth,self,11/08/2019
94,bd11819,p8wu,8 of Pentacles,Wild Unknown,Earth,self,11/08/2019
95,bd11819,11wu,Strength,Wild Unknown,Fire,self,11/08/2019
96,bd11819,p4wu,4 of Pentacles,Wild Unknown,Earth,self,11/08/2019
97,bd11819,0wu,Fool,Wild Unknown,Air,self,11/08/2019
98,bd11819,c7wu,7 of Cups,Wild Unknown,Water,self,11/08/2019
99,bd11819,c5wu,5 of Cups,Wild Unknown,Water,self,11/08/2019
100,bd11819,13wu,Death,Wild Unknown,Water,self,11/08/2019
101,bd11819,10wu,Wheel of Fortune,Wild Unknown,Fire,self,11/08/2019
102,bd11819,7wu,Chariot,Wild Unknown,Water,self,11/08/2019
103,bd11819,s12wu,Knight of Swords,Wild Unknown,Air,self,11/08/2019
104,bd11819,c1wu,Ace of Cups,Wild Unknown,Water,self,11/08/2019
105,bd11819,w4wu,4 of Wands,Wild Unknown,Fire,self,11/08/2019

Check data types and convert date to datetime

In [4]:
my_pulls_df["Date"] = pd.to_datetime((my_pulls_df["Date"]), format='mixed')
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    106 non-null    object
 1   Card ID    106 non-null    object
 2   Card Name  106 non-null    object
 3   Deck       106 non-null    object
 4   Element    106 non-null    object
 5   Querent    106 non-null    object
 6   Date       106 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 5.9+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [6]:
today_pull = {
    'Pull ID': ['sc81923'],
    'Card ID': ['c1wu'],
    'Card Name': ['Ace of Cups'],
    'Deck': ['Wild Unknown'],
    'Element': ['Water'], 
    'Querent': ['self'],
    'Date': ['08/19/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr11819', 'spr11819', 'spr11819', 'spr11819', 'spr11819', 'spr11819'],
    'Card ID': ['10wu', 'w5wu', 'c14wu', '5wu', 'p11wu', 'w11wu'],
    'Card Name': ['Wheel of Fortune', '5 of Wands', 'King of Cups', 'Hierophant', 'Page of Pentacles', 'Page of Wands'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Fire', 'Fire', 'Water', 'Earth', 'Earth', 'Fire'],
    'Querent': ['self', 'self', 'self', 'self', 'self', 'self'],
    'Date': ['11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
108,spr11819,w5wu,5 of Wands,Wild Unknown,Fire,self,11/08/2019
109,spr11819,c14wu,King of Cups,Wild Unknown,Water,self,11/08/2019
110,spr11819,5wu,Hierophant,Wild Unknown,Earth,self,11/08/2019
111,spr11819,p11wu,Page of Pentacles,Wild Unknown,Earth,self,11/08/2019
112,spr11819,w11wu,Page of Wands,Wild Unknown,Fire,self,11/08/2019

Overwrite csv to update

In [7]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)