Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [2]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail(15)

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
98,bd11819,c7wu,7 of Cups,Wild Unknown,Water,self,2019-11-08 00:00:00
99,bd11819,c5wu,5 of Cups,Wild Unknown,Water,self,2019-11-08 00:00:00
100,bd11819,13wu,Death,Wild Unknown,Water,self,2019-11-08 00:00:00
101,bd11819,10wu,Wheel of Fortune,Wild Unknown,Fire,self,2019-11-08 00:00:00
102,bd11819,7wu,Chariot,Wild Unknown,Water,self,2019-11-08 00:00:00
103,bd11819,s12wu,Knight of Swords,Wild Unknown,Air,self,2019-11-08 00:00:00
104,bd11819,c1wu,Ace of Cups,Wild Unknown,Water,self,2019-11-08 00:00:00
105,bd11819,w4wu,4 of Wands,Wild Unknown,Fire,self,2019-11-08 00:00:00
106,sc81923,c1wu,Ace of Cups,Wild Unknown,Water,self,08/19/2023
107,spr11819,10wu,Wheel of Fortune,Wild Unknown,Fire,self,11/08/2019
108,spr11819,w5wu,5 of Wands,Wild Unknown,Fire,self,11/08/2019
109,spr11819,c14wu,King of Cups,Wild Unknown,Water,self,11/08/2019
110,spr11819,5wu,Hierophant,Wild Unknown,Earth,self,11/08/2019
111,spr11819,p11wu,Page of Pentacles,Wild Unknown,Earth,self,11/08/2019
112,spr11819,w11wu,Page of Wands,Wild Unknown,Fire,self,11/08/2019

Check data types and convert date to datetime

In [3]:
my_pulls_df["Date"] = pd.to_datetime((my_pulls_df["Date"]), format='mixed')
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    113 non-null    object
 1   Card ID    113 non-null    object
 2   Card Name  113 non-null    object
 3   Deck       113 non-null    object
 4   Element    113 non-null    object
 5   Querent    113 non-null    object
 6   Date       113 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 6.3+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [5]:
today_pull = {
    'Pull ID': ['spr82123', 'spr82123', 'spr82123'],
    'Card ID': ['12wu', 'c12wu', 's10wu'],
    'Card Name': ['Hanged Man', 'Knight of Cups', '10 of Swords'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Water', 'Water', 'Air'], 
    'Querent': ['self', 'self', 'self'],
    'Date': ['08/21/2023', '08/21/2023', '08/21/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr11919', 'spr11919', 'spr11919', 'spr111019', 'spr111019', 'spr111019', 'spr111019', 'spr111019','spr111019'],
    'Card ID': ['p8wu', 'c3wu', '19wu', '14wu', 'w13wu', 's5wu', 'c5wu', 'c6wu', 'p7wu'],
    'Card Name': ['8 of Pentacles', '3 of Cups', 'Sun', 'Temperance', 'Queen of Wands', '5 of Swords', '5 of Cups', '6 of Cups', '7 of Pentacles'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Earth', 'Water', 'Fire', 'Earth', 'Fire', 'Air', 'Water', 'Water', 'Earth'],
    'Querent': ['friend', 'friend', 'friend', 'self', 'self', 'self', 'self', 'self', 'self'],
    'Date': ['11/09/2019', '11/09/2019', '11/09/2019', '11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
120,spr111019,w13wu,Queen of Wands,Wild Unknown,Fire,self,11/10/2019
121,spr111019,s5wu,5 of Swords,Wild Unknown,Air,self,11/10/2019
122,spr111019,c5wu,5 of Cups,Wild Unknown,Water,self,11/10/2019
123,spr111019,c6wu,6 of Cups,Wild Unknown,Water,self,11/10/2019
124,spr111019,p7wu,7 of Pentacles,Wild Unknown,Earth,self,11/10/2019

Overwrite csv to update

In [6]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)