Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [4]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail(15)

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
77,spr22121,c3wu,3 of Cups,Wild Unknown,Water,event,02/21/2021
78,sc81323,1gt,Magician,Gentle Tarot,Air,self,08/12/2023
79,sc81323,11gt,Justice,Gentle Tarot,Air,self,08/12/2023
80,spr22621,c4wu,4 of Cups,Wild Unknown,Water,event,02/26/2021
81,spr22621,p6wu,6 of Pentacles,Wild Unknown,Earth,event,02/26/2021
82,spr22621,14wu,Temperance,Wild Unknown,Fire,event,02/26/2021
83,spr22621,p11wu,Page of Pentacles,Wild Unknown,Earth,event,02/26/2021
84,spr22621,s12wu,Knight of Swords,Wild Unknown,Air,event,02/26/2021
85,mm3221,12wu,Hanged Man,Wild Unknown,Water,self,3/2/2021
86,mm3221,15wu,Devil,Wild Unknown,Earth,self,3/2/2021
87,rs81921,c1wu,Ace of Cups,Wild Unknown,Water,fam,8/19/2021
88,rs81921,c10wu,10 of Cups,Wild Unknown,Water,fam,8/19/2021
89,rs81921,16wu,Tower,Wild Unknown,Fire,fam,8/19/2021
90,rs81921,w10wu,10 of Wands,Wild Unknown,Fire,fam,8/19/2021
91,rs81921,s14wu,King of Swords,Wild Unknown,Air,fam,8/19/2021

Check data types and convert date to datetime

In [5]:
my_pulls_df["Date"] = pd.to_datetime((my_pulls_df["Date"]), format='mixed')
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    92 non-null     object
 1   Card ID    92 non-null     object
 2   Card Name  92 non-null     object
 3   Deck       92 non-null     object
 4   Element    92 non-null     object
 5   Querent    92 non-null     object
 6   Date       92 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 5.2+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [6]:
today_pull = {
    'Pull ID': ['sc81823'],
    'Card ID': ['7gt'],
    'Card Name': ['Chariot'],
    'Deck': ['Gentle Tarot'],
    'Element': ['Water'], 
    'Querent': ['self'],
    'Date': ['08/18/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819', 'bd11819'],
    'Card ID': ['p3wu', 'p8wu', '11wu', 'p4wu', '0wu', 'c7wu', 'c5wu', '13wu', '10wu', '7wu', 's12wu', 'c1wu', 'w4wu'],
    'Card Name': ['3 of Pentacles', '8 of Pentacles', 'Strength', '4 of Pentacles', 'Fool', '7 of Cups', '5 of Cups', 'Death', 'Wheel of Fortune', 'Chariot', 'Knight of Swords', 'Ace of Cups', '4 of Wands'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Earth', 'Earth', 'Fire', 'Earth', 'Air', 'Water', 'Water', 'Water', 'Fire', 'Water', 'Air', 'Water', 'Fire'],
    'Querent': ['self', 'self', 'self', 'self', 'self', 'self', 'self', 'self', 'self', 'self', 'self', 'self', 'self'],
    'Date': ['11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019', '11/08/2019']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
101,bd11819,10wu,Wheel of Fortune,Wild Unknown,Fire,self,11/08/2019
102,bd11819,7wu,Chariot,Wild Unknown,Water,self,11/08/2019
103,bd11819,s12wu,Knight of Swords,Wild Unknown,Air,self,11/08/2019
104,bd11819,c1wu,Ace of Cups,Wild Unknown,Water,self,11/08/2019
105,bd11819,w4wu,4 of Wands,Wild Unknown,Fire,self,11/08/2019

Overwrite csv to update

In [7]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)