Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [2]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail(15)

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
120,spr111019,w13wu,Queen of Wands,Wild Unknown,Fire,self,11/10/2019
121,spr111019,s5wu,5 of Swords,Wild Unknown,Air,self,11/10/2019
122,spr111019,c5wu,5 of Cups,Wild Unknown,Water,self,11/10/2019
123,spr111019,c6wu,6 of Cups,Wild Unknown,Water,self,11/10/2019
124,spr111019,p7wu,7 of Pentacles,Wild Unknown,Earth,self,11/10/2019
125,spr82323,15gt,Devil,Gentle Tarot,Earth,friend,08/23/2023
126,spr82323,w8gt,8 of Wands,Gentle Tarot,Fire,friend,08/23/2023
127,spr82323,c1gt,Ace of Cups,Gentle Tarot,Water,friend,08/23/2023
128,spr82323,s6gt,6 of Swords,Gentle Tarot,Air,friend,08/23/2023
129,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,11/10/2019
130,spr111019,p10la,10 of Pentacles,Labrynthos App,Earth,self,11/10/2019
131,spr111019,s12la,Knight of Swords,Labrynthos App,Air,self,11/10/2019
132,spr111019,13la,Death,Labrynthos App,Water,self,11/10/2019
133,spr111019,c3la,3 of Cups,Labrynthos App,Water,self,11/10/2019
134,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,11/10/2019

Check data types and convert date to datetime

In [3]:
my_pulls_df["Date"] = pd.to_datetime((my_pulls_df["Date"]), format='mixed')
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    135 non-null    object
 1   Card ID    135 non-null    object
 2   Card Name  135 non-null    object
 3   Deck       135 non-null    object
 4   Element    135 non-null    object
 5   Querent    135 non-null    object
 6   Date       135 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 7.5+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [4]:
today_pull = {
    'Pull ID': ['sc83123'],
    'Card ID': ['17gt'],
    'Card Name': ['Star'],
    'Deck': ['Gentle Tarot'],
    'Element': ['Air'], 
    'Querent': ['self'],
    'Date': ['08/31/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr111719', 'spr111719', 'spr111719'],
    'Card ID': ['0wu', '10wu', 's7wu'],
    'Card Name': ['Fool', 'Wheel of Fortune', '7 of Swords'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Air', 'Fire', 'Air'],
    'Querent': ['self', 'self', 'self'],
    'Date': ['11/17/2019', '11/17/2019', '11/17/2019']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
134,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,2019-11-10 00:00:00
135,sc83123,17gt,Star,Gentle Tarot,Air,self,08/31/2023
136,spr111719,0wu,Fool,Wild Unknown,Air,self,11/17/2019
137,spr111719,10wu,Wheel of Fortune,Wild Unknown,Fire,self,11/17/2019
138,spr111719,s7wu,7 of Swords,Wild Unknown,Air,self,11/17/2019

Overwrite csv to update

In [5]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)