Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [2]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail()

     Pull ID Card ID      Card Name          Deck Element Querent        Date
73  spr21621   c13wu  Queen of Cups  Wild Unknown   Water    self  02/16/2021
74  spr21621     8wu        Justice  Wild Unknown     Air    self  02/16/2021
75  spr22121   c10wu     10 of Cups  Wild Unknown   Water   event  02/21/2021
76  spr22121    s8wu    8 of Swords  Wild Unknown     Air   event  02/21/2021
77  spr22121    c3wu      3 of Cups  Wild Unknown   Water   event  02/21/2021

Check data types and convert date to datetime

In [4]:
my_pulls_df["Date"] = pd.to_datetime(my_pulls_df["Date"])
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    54 non-null     object
 1   Card ID    54 non-null     object
 2   Card Name  54 non-null     object
 3   Deck       54 non-null     object
 4   Element    54 non-null     object
 5   Querent    54 non-null     object
 6   Date       54 non-null     object
dtypes: object(7)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    54 non-null     object
 1   Card ID    54 non-null     object
 2   Card Name  54 non-null     object
 3   Deck       54 non-null     object
 4   Element    54 non-null     object
 5   Querent    54 non-null     object
 6   Date       54 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 3.1+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [4]:
today_pull = {
    'Pull ID': ['sc81323', 'sc81323'],
    'Card ID': ['1gt', '11gt'],
    'Card Name': ['Magician', 'Justice'],
    'Deck': ['Gentle Tarot', 'Gentle Tarot'],
    'Element': ['Air', 'Air'], 
    'Querent': ['self', 'self'],
    'Date': ['08/12/2023', '08/12/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr22621', 'spr22621', 'spr22621', 'spr22621', 'spr22621', 'mm3221', 'mm3221', 'rs81921', 'rs81921', 'rs81921', 'rs81921', 'rs81921'],
    'Card ID': ['c4wu', 'p6wu', '14wu', 'p11wu', 's12wu', '12wu', '15wu', 'c1wu', 'c10wu', '16wu', 'w10wu', 's14wu'],
    'Card Name': ['4 of Cups', '6 of Pentacles', 'Temperance', 'Page of Pentacles', 'Knight of Swords', 'Hanged Man', 'Devil', 'Ace of Cups', '10 of Cups', 'Tower', '10 of Wands', 'King of Swords'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Water', 'Earth', 'Fire', 'Earth', 'Air', 'Water', 'Earth', 'Water', 'Water', 'Fire', 'Fire', 'Air'],
    'Querent': ['event', 'event', 'event', 'event', 'event', 'self', 'self', 'fam', 'fam', 'fam', 'fam', 'fam'],
    'Date': ['02/26/2021','02/26/2021','02/26/2021','02/26/2021', '02/26/2021', '3/2/2021', '3/2/2021', '8/19/2021', '8/19/2021', '8/19/2021', '8/19/2021', '8/19/2021']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

    Pull ID Card ID       Card Name          Deck Element Querent       Date
87  rs81921    c1wu     Ace of Cups  Wild Unknown   Water     fam  8/19/2021
88  rs81921   c10wu      10 of Cups  Wild Unknown   Water     fam  8/19/2021
89  rs81921    16wu           Tower  Wild Unknown    Fire     fam  8/19/2021
90  rs81921   w10wu     10 of Wands  Wild Unknown    Fire     fam  8/19/2021
91  rs81921   s14wu  King of Swords  Wild Unknown     Air     fam  8/19/2021

Overwrite csv to update

In [5]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)