Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [2]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail()

  Pull ID Card ID   Card Name          Deck Element Querent        Date
0    bd20     3wu     Empress  Wild Unknown   Earth    self  11/14/2020
1    bd20     9wu      Hermit  Wild Unknown   Earth    self  11/14/2020
2    bd20     5wu  Hierophant  Wild Unknown   Earth    self  11/14/2020
3    bd20    13wu       Death  Wild Unknown   Water    self  11/14/2020
4    bd20    w5wu  5 of Wands  Wild Unknown    Fire    self  11/14/2020

Check data types and convert date to datetime

In [4]:
my_pulls_df["Date"] = pd.to_datetime(my_pulls_df["Date"])
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    54 non-null     object
 1   Card ID    54 non-null     object
 2   Card Name  54 non-null     object
 3   Deck       54 non-null     object
 4   Element    54 non-null     object
 5   Querent    54 non-null     object
 6   Date       54 non-null     object
dtypes: object(7)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    54 non-null     object
 1   Card ID    54 non-null     object
 2   Card Name  54 non-null     object
 3   Deck       54 non-null     object
 4   Element    54 non-null     object
 5   Querent    54 non-null     object
 6   Date       54 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 3.1+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [11]:
today_pull = {
    'Pull ID': ['sc81223'],
    'Card ID': ['1gt'],
    'Card Name': ['Magician'],
    'Deck': ['Gentle Tarot'],
    'Element': ['Air'],
    'Querent': ['self'],
    'Date': ['08/12/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr21621', 'spr21621', 'spr21621', 'spr21621', 'spr22121', 'spr22121', 'spr22121' ],
    'Card ID': ['c6wu', 'c8wu', 'c13wu', '8wu', 'c10wu', 's8wu', 'c3wu'],
    'Card Name': ['6 of Cups', '8 of Cups', 'Queen of Cups', 'Justice', '10 of Cups', '8 of Swords', '3 of Cups'],
    'Deck': ['Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown', 'Wild Unknown'],
    'Element': ['Water', 'Water', 'Water', 'Air', 'Water', 'Air', 'Water'],
    'Querent': ['self', 'self', 'self', 'self', 'event', 'event', 'event'],
    'Date': ['02/16/2021','02/16/2021','02/16/2021','02/16/2021', '02/21/2021', '02/21/2021', '02/21/2021']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

     Pull ID Card ID      Card Name          Deck Element Querent        Date
73  spr21621   c13wu  Queen of Cups  Wild Unknown   Water    self  02/16/2021
74  spr21621     8wu        Justice  Wild Unknown     Air    self  02/16/2021
75  spr22121   c10wu     10 of Cups  Wild Unknown   Water   event  02/21/2021
76  spr22121    s8wu    8 of Swords  Wild Unknown     Air   event  02/21/2021
77  spr22121    c3wu      3 of Cups  Wild Unknown   Water   event  02/21/2021

Overwrite csv to update

In [12]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)