Set up imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Create df from csv

In [7]:
my_pulls_df= pd.read_csv("Tarot pulls - my pulls.csv")
my_pulls_df.tail(15)

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
120,spr111019,w13wu,Queen of Wands,Wild Unknown,Fire,self,11/10/2019
121,spr111019,s5wu,5 of Swords,Wild Unknown,Air,self,11/10/2019
122,spr111019,c5wu,5 of Cups,Wild Unknown,Water,self,11/10/2019
123,spr111019,c6wu,6 of Cups,Wild Unknown,Water,self,11/10/2019
124,spr111019,p7wu,7 of Pentacles,Wild Unknown,Earth,self,11/10/2019
125,spr82323,15gt,Devil,Gentle Tarot,Earth,friend,08/23/2023
126,spr82323,w8gt,8 of Wands,Gentle Tarot,Fire,friend,08/23/2023
127,spr82323,c1gt,Ace of Cups,Gentle Tarot,Water,friend,08/23/2023
128,spr82323,s6gt,6 of Swords,Gentle Tarot,Air,friend,08/23/2023
129,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,11/10/2019
130,spr111019,p10la,10 of Pentacles,Labrynthos App,Earth,self,11/10/2019
131,spr111019,s12la,Knight of Swords,Labrynthos App,Air,self,11/10/2019
132,spr111019,13la,Death,Labrynthos App,Water,self,11/10/2019
133,spr111019,c3la,3 of Cups,Labrynthos App,Water,self,11/10/2019
134,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,11/10/2019

Check data types and convert date to datetime

In [3]:
my_pulls_df["Date"] = pd.to_datetime((my_pulls_df["Date"]), format='mixed')
my_pulls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pull ID    125 non-null    object
 1   Card ID    125 non-null    object
 2   Card Name  125 non-null    object
 3   Deck       125 non-null    object
 4   Element    125 non-null    object
 5   Querent    125 non-null    object
 6   Date       125 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 7.0+ KB

Add today's pull/spread and 1-2 historical pulls (until all are added) to df using append function

In [5]:
today_pull = {
    'Pull ID': ['spr82323', 'spr82323', 'spr82323', 'spr82323'],
    'Card ID': ['15gt', 'w8gt', 'c1gt', 's6gt'],
    'Card Name': ['Devil', '8 of Wands', 'Ace of Cups', '6 of Swords'],
    'Deck': ['Gentle Tarot', 'Gentle Tarot', 'Gentle Tarot', 'Gentle Tarot'],
    'Element': ['Earth', 'Fire', 'Water', 'Air'], 
    'Querent': ['friend', 'friend', 'friend', 'friend'],
    'Date': ['08/23/2023', '08/23/2023', '08/23/2023', '08/23/2023']
}
today_pull_df = pd.DataFrame(today_pull)
historical_pull = {
    'Pull ID': ['spr111019', 'spr111019', 'spr111019', 'spr111019', 'spr111019', 'spr111019'],
    'Card ID': ['s10la', 'p10la', 's12la', '13la', 'c3la', 's10la'],
    'Card Name': ['10 of Swords', '10 of Pentacles', 'Knight of Swords', 'Death', '3 of Cups', '10 of Swords'],
    'Deck': ['Labrynthos App', 'Labrynthos App', 'Labrynthos App', 'Labrynthos App', 'Labrynthos App', 'Labrynthos App'],
    'Element': ['Air', 'Earth', 'Air', 'Water', 'Water', 'Air'],
    'Querent': ['self', 'self', 'self', 'self', 'self', 'self'],
    'Date': ['11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019', '11/10/2019']
}
historical_pull_df = pd.DataFrame(historical_pull)

pulls_to_add = pd.concat([today_pull_df, historical_pull_df], ignore_index=True)
pulls_to_add.reset_index()

my_pulls_df = pd.concat([my_pulls_df, pulls_to_add], ignore_index=True)
my_pulls_df.tail()

,Pull ID,Card ID,Card Name,Deck,Element,Querent,Date
130,spr111019,p10la,10 of Pentacles,Labrynthos App,Earth,self,11/10/2019
131,spr111019,s12la,Knight of Swords,Labrynthos App,Air,self,11/10/2019
132,spr111019,13la,Death,Labrynthos App,Water,self,11/10/2019
133,spr111019,c3la,3 of Cups,Labrynthos App,Water,self,11/10/2019
134,spr111019,s10la,10 of Swords,Labrynthos App,Air,self,11/10/2019

Overwrite csv to update

In [6]:
my_pulls_df.to_csv("Tarot pulls - my pulls.csv", encoding='utf-8', index=False)